<div class="modal-header">
    <h4 class="inline-block text-1xl font-extrabold text-gray-900 tracking-tight">Nova tarefa
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class='flex max-w-sm w-full h-56 justify-center overflow-hidden mx-auto flex flex-col'>
        <form [formGroup]="form" (ngSubmit)="createTask()">
            <div class="relative h-10 input-component mb-5">
                <input id="title" type="text" formControlName="title"
                    class="h-full w-full border-gray-300 px-2 transition-all border-blue rounded-sm" />
                <label for="title" class="absolute left-2 transition-all bg-white px-1">
                    Título
                </label>
            </div>

            <div class="relative h-10 input-component mb-5">
                <select class="border border-gray-300 rounded-sm text-gray-600 h-full w-full pl-2 bg-white hover:border-gray-400 focus:outline-none appearance-none" id="listId" formControlName="listId">
                    <option *ngFor="let item of taskList" [ngValue]="item.id">{{ item.title }}</option>
                </select>
                <label for="listId" class="absolute left-2 transition-all bg-white px-1">
                    Lista de tarefa
                </label>

            </div>

        </form>

    </div>

</div>
<div class="modal-footer">

    <div *ngIf="apiResponse.error" class="w-full bg-red-50 border-l-8 border-red-900 mb-2">
        <div class="flex items-center">
            <div class="p-2">
                <div class="flex items-center">
                    <div class="ml-2">
                        <svg class="h-5 w-5 text-red-900 mr-2 cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    <p class="px-3 text-red-900 font-semibold text-md">Ocorreu um erro na criação da lista.</p>
                </div>
                <div class="px-4 mb-1">
                    <li class="text-md pl-3 pt-1 font-bold text-red-500 text-sm"> {{apiResponse.messageError}} </li>
                </div>
            </div>
        </div>
    </div>

    <button type="button" (click)="createTask()"
        [ngClass]="{'cursor-not-allowed' : waitingAPIresponse}"
        class="w-full text-center inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-gray-800 hover:bg-gray-700 transition ease-in-out duration-150">
        <svg *ngIf="waitingAPIresponse" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
        <span class="text-center w-full">Criar</span>
    </button>

</div>
